li{
    margin-left:30px;
    margin-right:30px;
    font-weight: bold;
    font-size: 20px;
}
#main_page {
    height:78vh;
    width:100vw;
    position:absolute;
    top:20vh;
    border-style:solid;
    border-width:1px;
    display:flex;
    flex-direction:row;
    align-items: center;
}
.content_div{
    height:80%;
    width:40%;
    background-color: white;
    padding:0;
}
.sub_menu{
    color:white;
}
.sub_menu:hover{
    color: orange;
}
.heading_title{
    margin-left:15vw;
    font-size:2.5vw;
    color:black;
}
.table{
    font-size: 1vw;
}
.main_page_navbars{
    text-align:center;
    font-size:1.5vw;
}
td{
    text-align:center;
    vertical-align:middle;
}   
a{
    text-decoration: none;
    color:blue;
}
.personal_detail_headings{
    font-size:1.1vw;
}
#personal_details_title{
    margin-left:11vw;
    font-size:2.5vw;
    color:white
}
#personal_details_title:hover{
    color:orange;
}
#academic_details_title{
    margin-left:37vw;
    font-size:1.5vw;
    color:black;
}
#subject_details_title{
    margin-left:37.5vw;
    font-size:1.5vw;
    color:black;
}